html, body {
  height: 100%;
  width: 100%;
}

header, footer {
    height: 10vh;
    width: 100%;
    max-width: 100%;
}

main {
  height: 80vh;
}

.container {
  box-sizing: border-box;
}

.leaflet-container {
    height: 100%;
    width: 75%;
    float: left;
    border: solid black 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#map {
    height: 100%;
    width: 75%;
    float: left;
    border: solid black 1px;
}

#list {
    height: 100%;
    width: 25%;
    background: white;
    float: right;
    border: solid black 1px;
    overflow-y: scroll;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
