html, body {
  height: 100%;
  width: 100%;
}

header {
  height: 10%;
}

main {
  height: 80vh;
  /* padding-left: 1%;
  padding-right: 1%; */
}

/* .container {
  box-sizing: border-box;
} */

/* .item-name {
  display: inline-block;
}

.item-save {
  float: right;
}

#signin {
  padding-left: 100px;
}

#map {
    height: 100%;
    width: 75%;
    float: left;
    border: solid black 1px;
}

#list {
    height: 100%;
    width: 25%;
    background: #508DBB;
    float: right;
    border: solid black 1px;
    overflow-y: scroll;
} */
