html, body {
  height: 100%;
  width: 100%;
  /* background-color: #004680; */
  background-color: #0B62A4;
  color: #B5D4EC;
}

header, footer {
  height: 10vh;
  width: 100%;
  max-width: 100%;
}

h1 {
  padding-left: 1%;
}

main {
  height: 80vh;
}

.container {
  box-sizing: border-box;
}

#map {
    height: 100%;
    width: 75%;
    float: left;
    border: solid black 1px;
}

#list {
    height: 100%;
    width: 25%;
    background: #508DBB;
    float: right;
    border: solid black 1px;
    overflow-y: scroll;
}
